@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ---------------------------------------------- */
.page {
  width: 21cm;
  min-height: 29.7cm;
  margin: 20px auto;
  border-radius: 15px;
  background: linear-gradient(186deg, #fff2ff -2.12%, #ffe0e6 106.62%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.subpage {
  height: 29.7cm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    background: linear-gradient(186deg, #fff2ff -2.12%, #ffe0e6 106.62%);
  }

  .page_2 .grid_col#left_side .absolute_balls {
    display: none;
  }
}
/* ---------------------------------------------- */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #6b6668;
}

.title {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.edu-qualifications-section {
  padding: 20px 40px;
}

.edu-qualifications-section .grid-table#ordinaryLevel {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;
  border: 1px solid #2e2e2e;
  width: 100%;
}

.edu-qualifications-section .grid-table#advanceLevel {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid #2e2e2e;
  width: 100%;
}

.edu-qualifications-section .span-4#ordinaryLevel {
  grid-column: span 4;
  background-color: #2e2e2eb6;
}

.edu-qualifications-section .span-4#advanceLevel {
  grid-column: span 2;
  background-color: #2e2e2eb6;
}

.edu-qualifications-section .grid-table p.table-header {
  text-align: center;
  font-size: 14px;
  color: white;
}

.edu-qualifications-section .grid-table > div,
.edu-qualifications-section .grid-table > h5 {
  border: 1px solid #2e2e2e;
  padding: 6px;
}

.edu-qualifications-section .grid-table .th {
  font-weight: 600;
  font-size: 14px;
}

.edu-qualifications-section .grid-table > h5 {
  font-weight: 400;
}

.edu-qualifications-section .grid-table > h5#textCenter {
  text-align: center;
}

.edu-qualifications-section .higherEd {
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: medium;
}

.edu-qualifications-section .university {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.edu-qualifications-section .university .uniLogo {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.edu-qualifications-section .university h2 {
  font-size: 19px;
  font-weight: 900;
}

.edu-qualifications-section .university p {
  font-size: 13px;
  font-weight: 500;
}

.edu-qualifications-section .university p#duration {
  margin-top: 7px;
  font-size: 10px;
  font-weight: 500;
}
